<%= render :partial => "shared/header" %>

<div class="clear"></div>

<div class="container">

  <div class="content">

    <div class="info-container" id="info_list">

      <div class="info">
        <h1>Roadmap</h1>
        To build a dashboard which shows the pulse of the internet in realtime.
        <ul>
          <li>User Registration</li>
          <li>Stats for top links</li>
          <li>Ability to share links</li>
          <li>Link preview</li>
          <li>Stats for links,trends and keywords</li>
        </ul>
      </div>

    </div>

    <br style="clear: both;">

  </div>
</div>

<%= render :partial => "shared/footer" %>

