<%= render :partial => "shared/header" %>

<div class="clear"></div>

<div class="container">

  <div class="content">

    <div class="info-container" id="info_list">

      <div class="info">
        <h1>Stats</h1>

        <!--<div class="api-stats">-->
          <h2>Api Status</h2>
          <table>
            <% @sites.each do |site| %>
              <tr>
                <td><%= site.name %></td>
                <td>Last updated <%= time_ago_in_words(site.updated_at)%> </td>
              </tr>
            <% end %>
          </table>
        <!--</div>-->
        <!--<h2>Page Views</h2>
          13,123-->
      </div>

    </div>

    <br style="clear: both;">

  </div>
</div>

<%= render :partial => "shared/footer" %>

